BRAND_NAME="simple.cdn"
DEBUG=false
PORT=8000
HOST="localhost"
DOMAIN=

DB_POOL_SIZE=16
LOG_LEVEL="INFO"
LOG_RETENTION_DAYS=30

CHUNK_SIZE= 1048576 # 1MB
MAX_UPLOAD_SIZE=536870912 # 512MB
PUBLIC_DIR="public"

TOKEN_PREFIX="Token "
TOKEN_SIZE=32

SCRYPT_SECRET=
SCRYPT_N=16384
SCRYPT_R=8
SCRYPT_P=1
SCRYPT_MAXMEM=0 
SCRYPT_DKLEN=64